.div-span{
    background-color:lightseagreen; 
    padding: 16px;   
}    

.span{
    /* margin-top: 16px;
    padding: 16px; */
    color: black;
    font-size: 24px;
    padding: 12px;
    font-weight: bold;
}

.list{
    font-size: 20px;
}

.food-img{
    height: 400px;
    width: 400px;
}

.food-div{
    text-align: center;
}